# 광복

In [60]:
import numpy as np
import pandas as pd
df = pd.read_csv('excel/AQMS_광복.csv')
df =df.loc[(df['year']<2020)&(df['year']>2014)]

df = df.apply(pd.to_numeric, errors = 'coerce')
df

,측정소,year,월,일,시,CO,NO₂,PM10,PM2.5,Temp,direction(wind),speed(wind),Precipitation,humidity
8760,NaN,2015,1,1,1,0.3,0.006,19.0,11.0,NaN,320.0,3.8,NaN,NaN
8761,NaN,2015,1,1,2,0.3,0.006,21.0,12.0,-0.5,320.0,3.2,NaN,42.0
8762,NaN,2015,1,1,3,0.3,0.005,19.0,12.0,-0.8,270.0,6.8,NaN,43.0
8763,NaN,2015,1,1,4,0.3,0.004,22.0,11.0,-1.5,320.0,4.1,NaN,43.0
8764,NaN,2015,1,1,5,0.3,0.004,26.0,10.0,-2.1,320.0,5.9,NaN,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52579,NaN,2019,12,31,20,0.4,0.012,16.0,8.0,-0.7,290.0,1.9,NaN,22.0
52580,NaN,2019,12,31,21,0.3,0.010,11.0,6.0,-1.0,90.0,1.4,NaN,21.0
52581,NaN,2019,12,31,22,0.3,0.011,7.0,4.0,-1.4,340.0,3.0,NaN,21.0
52582,NaN,2019,12,31,23,0.3,0.010,4.0,2.0,-1.9,320.0,1.5,NaN,24.0
52583,NaN,2019,12,31,24,0.3,0.008,7.0,2.0,-2.3,320.0,2.1,NaN,24.0

In [59]:
# df = df.loc[df['PM10']>0]
df['PM10'].isnull().sum()

0

In [4]:
def solution(df):
    
    elements = ['CO',"NO₂",'PM10','PM2.5']
    years = [2015,2016,2017,2018,2019]

    df = df.loc[(df['CO']>0)&(df['PM10']>0)&(df['PM2.5']>0)&(df['NO₂']>0)]
    for element in elements:
        print()
        for year in years:
            print(df[element].loc[(df['year']==year) & (df[element]>0)].mean()) # 평균
            print(df[element].loc[(df['year']==year) & (df[element]>0)].std())  # 표준편차
            print(df[element].loc[(df['year']==year) & (df[element]>0)].min())  # 최소값
            print(df[element].loc[(df['year']==year) & (df[element]>0)].max())  # 최대값
            
#             print(np.round_(df[element].loc[(df['year']==year) & (df[element]>0)].max(),1))  # 최대값

            
            
# NO2는 1000배 해주어야 한다. 어떻게 처리할지 생각해볼것
# 이거 해결하면 엑셀에 복붙 뚝딱 끝

In [5]:
solution(df)

0.43805214102392337
0.13264233756769045
0.1
1.3
0.5008363054975083
0.14478822517865156
0.2
1.5
0.4126878920582787
0.12489572258980554
0.1
1.3
0.3948355692746409
0.10211800442510699
0.2
1.0
0.45225992087282524
0.11287070577438338
0.2
1.2

0.02762420640280948
0.014332893931375903
0.001
0.10800000000000001
0.025283851924732224
0.012962311105481586
0.001
0.085
0.023813587406793384
0.011979145587097902
0.003
0.083
0.02369844473465507
0.013736399761828617
0.002
0.109
0.01783898813091971
0.010639395374739822
0.002
0.092

49.80521410239092
29.17481045031156
3.0
352.0
43.214241790677654
26.02378699657993
3.0
299.0
41.74198129956208
22.284276031375697
2.0
278.0
41.923661403300486
25.25607138971805
4.0
331.0
38.579426927226955
22.22510902520707
2.0
169.0

30.617317303795758
16.065224643393538
2.0
107.0
29.08461443856844
17.317709104215773
2.0
125.0
25.347851816783052
15.07337900660982
1.0
102.0
24.531877003442954
15.101521368393817
1.0
104.0
22.979019302241937
14.883815942953882
2.0
119.0

# 온천

In [7]:
df = pd.read_csv('excel/AQMS_온천.csv')
df =df.loc[(df['년']<2020)&(df['년']>2014)]

df = df.apply(pd.to_numeric, errors = 'coerce')
df

,측정소,년,월,일,시,CO,NO₂,PM10,PM2.5,Temp,direction(wind),speed(wind),Precipitation
8760,NaN,2015,1,1,1,0.3,0.006,32.0,7.0,-0.8,300.9,1.6,0.0
8761,NaN,2015,1,1,2,0.2,0.003,29.0,8.0,-1.3,320.5,1.7,0.0
8762,NaN,2015,1,1,3,0.1,0.006,24.0,8.0,-1.8,284.8,0.9,0.0
8763,NaN,2015,1,1,4,0.2,0.010,28.0,8.0,-1.8,278.6,2.2,0.0
8764,NaN,2015,1,1,5,0.2,0.001,30.0,9.0,-2.2,261.5,1.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52579,NaN,2019,12,31,20,0.4,0.032,19.0,9.0,4.5,242.4,1.1,0.0
52580,NaN,2019,12,31,21,0.3,0.026,23.0,18.0,3.7,182.0,1.2,0.0
52581,NaN,2019,12,31,22,0.3,0.025,11.0,9.0,3.7,193.8,1.7,0.0
52582,NaN,2019,12,31,23,0.3,0.021,14.0,8.0,2.4,70.0,1.1,0.0
52583,NaN,2019,12,31,24,0.3,0.016,12.0,8.0,2.4,240.2,0.7,0.0

In [9]:
def solution(df):
    
    elements = ['CO',"NO₂",'PM10','PM2.5']
    years = [2015,2016,2017,2018,2019]

    df = df.loc[(df['CO']>0)&(df['PM10']>0)&(df['PM2.5']>0)&(df['NO₂']>0)]
    for element in elements:
        print()
        for year in years:
            print(df[element].loc[(df['년']==year) & (df[element]>0)].mean()) # 평균
            print(df[element].loc[(df['년']==year) & (df[element]>0)].std())  # 표준편차
            print(df[element].loc[(df['년']==year) & (df[element]>0)].min())  # 최소값
            print(df[element].loc[(df['년']==year) & (df[element]>0)].max())  # 최대값
            
#             print(np.round_(df[element].loc[(df['year']==year) & (df[element]>0)].max(),1))  # 최대값

            
            
# NO2는 1000배 해주어야 한다. 어떻게 처리할지 생각해볼것
# 이거 해결하면 엑셀에 복붙 뚝딱 끝
                  
solution(df)

0.6379493402093047
0.29872937712656883
0.1
2.5
0.6131650669510651
0.18807395713311806
0.1
2.1
0.4941519771319851
0.17555251402055966
0.1
1.4
0.49758373205742107
0.14105340510666317
0.2
1.5
0.5014854357665347
0.15380540739906642
0.2
1.5

0.02128393750947986
0.02144350951384508
0.001
0.244
0.03544175850219198
0.018098166397782382
0.001
0.15
0.03962934730824174
0.017447119214615694
0.006
0.14
0.033600478468898944
0.016045677404806797
0.001
0.165
0.03510340025530868
0.016684336746230433
0.002
0.115

58.98407401789777
30.080609056791786
11.0
293.0
52.06600308093376
23.692643185380025
9.0
280.0
44.819795140543114
21.539753267427024
3.0
244.0
40.826076555023924
25.684813958051123
2.0
363.0
37.74271788325403
22.854314869728906
2.0
231.0

27.993022903079023
15.700104348552962
3.0
122.0
24.619741675553975
13.179746069306223
3.0
98.0
23.363863744640305
13.608905556798284
1.0
94.0
21.10311004784689
13.300825742903513
1.0
91.0
22.22211906696066
13.486241071852595
2.0
119.0

# 전포

In [13]:
df = pd.read_csv('excel/AQMS_전포.csv')
df =df.loc[(df['year']<2020)&(df['year']>2014)]

df = df.apply(pd.to_numeric, errors = 'coerce')
df

,측정소,year,월,일,시,CO,NO₂,PM10,PM2.5,Temp,direction(wind),speed(wind),Precipitation
8760,NaN,2015,1,1,1,0.1,0.007,34.0,11.0,-4.1,270.8,3.2,0.0
8761,NaN,2015,1,1,2,0.1,0.007,25.0,9.0,-4.6,273.6,4.0,0.0
8762,NaN,2015,1,1,3,0.2,0.007,32.0,8.0,-5.0,270.5,4.5,0.0
8763,NaN,2015,1,1,4,0.2,0.006,41.0,7.0,-5.3,263.4,3.7,0.0
8764,NaN,2015,1,1,5,0.2,0.007,43.0,10.0,-4.4,269.5,4.2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52579,NaN,2019,12,31,20,0.3,0.017,9.0,12.0,1.7,0.0,0.4,0.0
52580,NaN,2019,12,31,21,0.3,0.020,9.0,9.0,0.8,0.0,0.1,0.0
52581,NaN,2019,12,31,22,0.3,0.021,13.0,10.0,0.5,0.0,0.2,0.0
52582,NaN,2019,12,31,23,0.3,0.021,15.0,14.0,0.3,0.0,0.2,0.0
52583,NaN,2019,12,31,24,0.3,0.015,14.0,13.0,1.0,277.9,1.2,0.0

In [14]:
def solution(df):
    
    elements = ['CO',"NO₂",'PM10','PM2.5']
    years = [2015,2016,2017,2018,2019]

    df = df.loc[(df['CO']>0)&(df['PM10']>0)&(df['PM2.5']>0)&(df['NO₂']>0)]
    for element in elements:
        print()
        for year in years:
            print(df[element].loc[(df['year']==year) & (df[element]>0)].mean()) # 평균
            print(df[element].loc[(df['year']==year) & (df[element]>0)].std())  # 표준편차
            print(df[element].loc[(df['year']==year) & (df[element]>0)].min())  # 최소값
            print(df[element].loc[(df['year']==year) & (df[element]>0)].max())  # 최대값
            
#             print(np.round_(df[element].loc[(df['year']==year) & (df[element]>0)].max(),1))  # 최대값

            
            
# NO2는 1000배 해주어야 한다. 어떻게 처리할지 생각해볼것
# 이거 해결하면 엑셀에 복붙 뚝딱 끝
                  
solution(df)

0.2777081109925321
0.11982031540980173
0.1
1.1
0.3522005036575327
0.12368139763762845
0.1
1.2
0.31560392759968553
0.10405402981335078
0.1
1.0
0.30983759785022214
0.10224842830818962
0.1
1.0
0.33384394447105337
0.11617736110972936
0.1
1.6

0.023850987193169724
0.013076857796601135
0.002
0.10400000000000001
0.025220649958027933
0.014409834149980661
0.002
0.099
0.025880160889624696
0.015506763874563859
0.003
0.107
0.02166748451921935
0.013084154517289729
0.003
0.094
0.022952130205840058
0.012953883363877781
0.002
0.11199999999999999

50.075640341515474
27.034063240790438
7.0
290.0
39.687252668185636
23.344321503976232
3.0
269.0
43.83201230332426
24.381549279645043
6.0
298.0
43.10877438953149
27.644320004171284
2.0
336.0
40.3334131163236
25.462968995637212
2.0
252.0

27.5042689434365
16.895321335837426
1.0
144.0
27.3061518167646
15.417424461377575
2.0
119.0
25.337868212468948
15.137018340122275
1.0
103.0
22.705923589204346
15.82103259615965
2.0
107.0
18.62218764959311
14.319531494270715
2.0
108.0

# 학장

In [15]:
df = pd.read_csv('excel/AQMS_학장.csv')
df =df.loc[(df['year']<2020)&(df['year']>2014)]

df = df.apply(pd.to_numeric, errors = 'coerce')
df

,측정소,year,월,일,시,CO,NO₂,PM10,PM2.5,Temp,direction(wind),speed(wind),Precipitation
8760,NaN,2015,1,1,1,0.2,0.004,16.0,16.0,NaN,3.7,NaN,NaN
8761,NaN,2015,1,1,2,0.2,0.004,18.0,18.0,NaN,3.5,NaN,NaN
8762,NaN,2015,1,1,3,0.2,0.004,19.0,32.0,NaN,4.4,NaN,NaN
8763,NaN,2015,1,1,4,0.2,0.003,17.0,12.0,NaN,4.5,NaN,NaN
8764,NaN,2015,1,1,5,0.2,0.004,27.0,14.0,NaN,4.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52579,NaN,2019,12,31,20,0.3,0.016,17.0,11.0,NaN,1.2,NaN,NaN
52580,NaN,2019,12,31,21,0.3,0.012,20.0,12.0,NaN,1.0,NaN,NaN
52581,NaN,2019,12,31,22,0.3,0.014,13.0,9.0,NaN,0.9,NaN,NaN
52582,NaN,2019,12,31,23,0.3,0.019,15.0,7.0,NaN,1.2,NaN,NaN
52583,NaN,2019,12,31,24,0.3,0.011,18.0,9.0,NaN,1.7,NaN,NaN

In [16]:
solution(df)

0.3732899022801343
0.13788501768074216
0.1
1.6
0.2858734764944989
0.08986924051727664
0.1
0.9
0.27706300445729454
0.10265910135102663
0.1
1.0
0.27433524657375097
0.10622982885011172
0.1
1.2
0.3447654696455952
0.09103358996774183
0.1
0.9

0.021101791530944967
0.016384329952714938
0.001
0.11900000000000001
0.028291932675565488
0.014180790568316106
0.004
0.106
0.024519575954704047
0.01392219372734113
0.001
0.09699999999999999
0.022014407871617597
0.011591306710818407
0.002
0.11199999999999999
0.021086559831559226
0.010788973955967186
0.003
0.111

53.595548317046685
27.89688670872076
5.0
303.0
50.75414973882763
28.87307856051226
3.0
380.0
50.8283339356704
27.514969366874386
6.0
290.0
47.36710788333138
29.316290328402637
2.0
318.0
43.15814715171365
24.845592857622755
2.0
244.0

33.30184581976113
17.442891731464474
2.0
142.0
31.00591990713871
16.850579693226194
3.0
141.0
29.850499939766294
16.786962347920827
1.0
162.0
26.498652922572333
16.51052685451411
1.0
158.0
27.037431278512106
16.868639798630184
2.0
136.0

# 결측율 함수

In [40]:

# def missing_rate(df):
# df.loc[df['CO'].isnull()].shape[0]
#1. 결측값
df['CO'].isnull().sum()

#2. 0값 => 이전 전처리에서 이미 없애버렸네; => 파일 새로 import해서 함수 다시 짜자.
(df['CO'] == 0).sum()

0

In [20]:
df.shape[0]

43824

In [65]:
def missing_rate(df):
    elements = ['CO',"NO₂",'PM10','PM2.5']
    df = df.apply(pd.to_numeric, errors = 'coerce')
    df =df.loc[(df['year']<2020)&(df['year']>2014)]
    for element in elements:
        print(((df[element] == 0).sum() + (df[element].isnull().sum()))/df.shape[0])
        
# missing_rate(df)

# 동별 결측율
(pd.to_numeric 과정을 거쳐야한다. 문자열이 끼어 있기 때문에)
=> 문자열이 끼어있기 때문에 위 과정을 거치지 않으면 결측율이 0으로 나온다

In [66]:
df = pd.read_csv('excel/AQMS_광복.csv')
missing_rate(df)

df = pd.read_csv('excel/AQMS_온천.csv')
missing_rate(df)

df = pd.read_csv('excel/AQMS_전포.csv')
missing_rate(df)

df = pd.read_csv('excel/AQMS_학장.csv')
missing_rate(df)

0.013713946695874406
0.02322928075940124
0.04470153340635268
0.024758123402701716
0.027633260313983207
0.043651880248265794
0.04105056589996349
0.026880248265790434
0.022978276743336985
0.023525921869295363
0.04600219058050383
0.02541986126323476
0.017707192405987587
0.019327309236947792
0.04241967871485944
0.02450711938663746