# S1p

In [1]:
import pandas as pd

In [2]:
def preprocessing(df):
    df = df.apply(pd.to_numeric, errors = 'coerce')
    
    for elements in ['CO','CO2',"NO2",'PM2.5','PM10']:
#         print(elements)
        for years in [2015, 2016, 2017,2018,2019]:
            print(df[elements].loc[(df['datetime-year']==years) & (df[elements]>0)].mean()) # 평균
            print(df[elements].loc[(df['datetime-year']==years) & (df[elements]>0)].std())  # 표준편차
            print(df[elements].loc[(df['datetime-year']==years) & (df[elements]>0)].min())  # 최소값
            print(df[elements].loc[(df['datetime-year']==years) & (df[elements]>0)].max())  # 최대값
        print()

In [3]:
s1p = pd.read_csv('excel/서면1p.csv', encoding = 'cp949')

## 결측율

In [5]:
s1p = s1p.loc[s1p['datetime-year']>=2015]
print(((((s1p['CO']==0)).sum())+(s1p['CO'].isnull().sum())) / 43824)
print(((((s1p['CO2']==0)).sum())+(s1p['CO2'].isnull().sum())) / 43824)
print(((((s1p['NO2']==0)).sum())+(s1p['NO2'].isnull().sum())) / 43824)
print(((((s1p['PM10']==0)).sum())+(s1p['PM10'].isnull().sum())) / 43824)
print(((((s1p['PM2.5']==0)).sum())+(s1p['PM2.5'].isnull().sum())) / 43824)
# print(((((s1p['HCHO']==0)).sum())+(s1p['HCHO'].isnull().sum())) / 43824)

0.0251688572471705
0.017661555312157722
0.026583607155896312
0.02731380065717415
0.027176889375684556

In [10]:
s1p = s1p.drop(['Unnamed: 0'], axis = 1)
s1p

       datetime-year  month  day  hour   CO    CO2    NO2  PM2.5  PM10
0               2019      1    1     0  0.5  493.0  0.034   14.0  29.0
1               2019      1    1     1  0.5  479.0  0.030   13.0  31.0
2               2019      1    1     2  0.5  458.0  0.029   13.0  29.0
3               2019      1    1     3  0.5  457.0  0.028   18.0  25.0
4               2019      1    1     4  0.4  453.0  0.032   18.0  27.0
...              ...    ...  ...   ...  ...    ...    ...    ...   ...
52579           2014     12   31    19  0.4  554.0  0.040   19.0  53.0
52580           2014     12   31    20  0.5  574.0  0.038   13.0  39.0
52581           2014     12   31    21  0.5  548.0  0.037   19.0  53.0
52582           2014     12   31    22  0.6  557.0  0.037   24.0  61.0
52583           2014     12   31    23  0.5  512.0  0.030   21.0  53.0

[52584 rows x 9 columns]

In [11]:
s1p.isnull().sum()

datetime-year      0
month              0
day                0
hour               0
CO               465
CO2              527
NO2              773
PM2.5            787
PM10             790
dtype: int64

In [17]:
s1p['CO'].value_counts()
# 793 + 465 = 1258

0.4    11197
0.5     9747
0.3     7747
0.6     7325
0.7     4911
0.8     2942
0.2     2490
0.9     1921
1.0     1139
0.0      793
1.1      632
0.1      593
1.2      340
1.3      173
1.4       72
1.5       38
1.6       19
1.7       16
1.8       11
2.1        4
2.3        2
2.0        2
1.9        2
2.8        1
2.6        1
3.3        1
Name: CO, dtype: int64

In [18]:
s1p.loc[s1p['CO']>0]

       datetime-year  month  day  hour   CO    CO2    NO2  PM2.5  PM10
0               2019      1    1     0  0.5  493.0  0.034   14.0  29.0
1               2019      1    1     1  0.5  479.0  0.030   13.0  31.0
2               2019      1    1     2  0.5  458.0  0.029   13.0  29.0
3               2019      1    1     3  0.5  457.0  0.028   18.0  25.0
4               2019      1    1     4  0.4  453.0  0.032   18.0  27.0
...              ...    ...  ...   ...  ...    ...    ...    ...   ...
52579           2014     12   31    19  0.4  554.0  0.040   19.0  53.0
52580           2014     12   31    20  0.5  574.0  0.038   13.0  39.0
52581           2014     12   31    21  0.5  548.0  0.037   19.0  53.0
52582           2014     12   31    22  0.6  557.0  0.037   24.0  61.0
52583           2014     12   31    23  0.5  512.0  0.030   21.0  53.0

[51326 rows x 9 columns]

In [24]:
preprocessing(s1p)

0.532313241796611
0.24015022373671674
0.1
2.3
0.5079090803664811
0.18402967671350332
0.1
1.9
0.4388758507392854
0.17596129945265662
0.1
1.6
0.47774050557087877
0.17619680313724737
0.1
2.0
0.465940938042877
0.16063677356928102
0.1
1.5

530.4988436632748
73.30682503394858
390.0
929.0
549.4792995477212
90.99002627911665
380.0
1208.0
539.3300642148278
70.5100884428378
404.0
866.0
520.4824612516023
68.07367684406172
329.0
808.0
534.4468898413066
55.359587741731005
400.0
963.0

0.03763459748720285
0.014428702854064251
0.001
0.091
0.04002223284723839
0.014791978022911477
0.004
0.10800000000000001
0.0432953749124032
0.0162272150624907
0.006
0.223
0.044108006131351955
0.016473410058647088
0.002
0.179
0.034577651952853464
0.01373248784646178
0.006
0.10300000000000001

26.611633372502936
35.469739425171134
1.0
998.0
29.812572759022117
27.268794886134806
1.0
982.0
23.801641266119578
19.953640657146508
1.0
944.0
21.377838871623236
24.244788327951106
1.0
973.0
20.40419127011694
12.721451833887535
1.0
379.0

55.21075394506137
80.49590498302607
1.0
2000.0
51.28506629448709
22.09988297610556
1.0
328.0
43.5034206180703
20.62287527579594
2.0
361.0
38.50968738856532
20.448020633931144
1.0
423.0
37.79459396481417
22.17798090981397
3.0
607.0