In [4]:
import numpy as np
import pandas as pd
df = pd.read_csv('excel/AQMS_광복.csv')
df =df.loc[(df['year']<2020)&(df['year']>2014)]

df = df.apply(pd.to_numeric, errors = 'coerce')
df

,측정소,year,월,일,시,CO,NO₂,PM10,PM2.5,Temp,direction(wind),speed(wind),Precipitation,humidity
8760,NaN,2015,1,1,1,0.3,0.006,19.0,11.0,NaN,320.0,3.8,NaN,NaN
8761,NaN,2015,1,1,2,0.3,0.006,21.0,12.0,-0.5,320.0,3.2,NaN,42.0
8762,NaN,2015,1,1,3,0.3,0.005,19.0,12.0,-0.8,270.0,6.8,NaN,43.0
8763,NaN,2015,1,1,4,0.3,0.004,22.0,11.0,-1.5,320.0,4.1,NaN,43.0
8764,NaN,2015,1,1,5,0.3,0.004,26.0,10.0,-2.1,320.0,5.9,NaN,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52579,NaN,2019,12,31,20,0.4,0.012,16.0,8.0,-0.7,290.0,1.9,NaN,22.0
52580,NaN,2019,12,31,21,0.3,0.010,11.0,6.0,-1.0,90.0,1.4,NaN,21.0
52581,NaN,2019,12,31,22,0.3,0.011,7.0,4.0,-1.4,340.0,3.0,NaN,21.0
52582,NaN,2019,12,31,23,0.3,0.010,4.0,2.0,-1.9,320.0,1.5,NaN,24.0
52583,NaN,2019,12,31,24,0.3,0.008,7.0,2.0,-2.3,320.0,2.1,NaN,24.0

In [11]:
def solution(df):
    
    elements = ['CO',"NO₂",'PM10','PM2.5']
    years = [2015,2016,2017,2018,2019]

    df = df.loc[(df['CO']>0)&(df['PM10']>0)&(df['PM2.5']>0)&(df['NO₂']>0)]
    for element in elements:
        print()
        for year in years:
            print(np.round_(df[element].loc[(df['year']==year) & (df[element]>0)].mean(),1) # 평균
            print(np.round_(df[element].loc[(df['year']==year) & (df[element]>0)].std(),1)  # 표준편차
            print(np.round_(df[element].loc[(df['year']==year) & (df[element]>0)].min(),1)  # 최소값
            print(np.round_(df[element].loc[(df['year']==year) & (df[element]>0)].max(),1)  # 최대값
            
#             print(np.round_(df[element].loc[(df['year']==year) & (df[element]>0)].max(),1))  # 최대값

            
            
# NO2는 1000배 해주어야 한다. 어떻게 처리할지 생각해볼것
# 이거 해결하면 엑셀에 복붙 뚝딱 끝

SyntaxError: invalid syntax (<ipython-input-11-7e92442c08b1>, line 11)

In [12]:
solution(df)

0.4
0.1
0.1
1.3
1.3
0.5
0.1
0.2
1.5
1.5
0.4
0.1
0.1
1.3
1.3
0.4
0.1
0.2
1.0
1.0
0.5
0.1
0.2
1.2
1.2

0.0
0.0
0.0
0.1
0.1
0.0
0.0
0.0
0.1
0.1
0.0
0.0
0.0
0.1
0.1
0.0
0.0
0.0
0.1
0.1
0.0
0.0
0.0
0.1
0.1

49.8
29.2
3.0
352.0
352.0
43.2
26.0
3.0
299.0
299.0
41.7
22.3
2.0
278.0
278.0
41.9
25.3
4.0
331.0
331.0
38.6
22.2
2.0
169.0
169.0

30.6
16.1
2.0
107.0
107.0
29.1
17.3
2.0
125.0
125.0
25.3
15.1
1.0
102.0
102.0
24.5
15.1
1.0
104.0
104.0
23.0
14.9
2.0
119.0
119.0