# S1p

In [1]:
import pandas as pd

In [2]:
def preprocessing(df):
    df = df.apply(pd.to_numeric, errors = 'coerce')
    
    for elements in ['CO','CO2',"NO2",'PM2.5','PM10']:
#         print(elements)
        for years in [2015, 2016, 2017,2018,2019]:
            print(df[elements].loc[(df['datetime-year']==years) & (df[elements]>0)].mean()) # 평균
            print(df[elements].loc[(df['datetime-year']==years) & (df[elements]>0)].std())  # 표준편차
            print(df[elements].loc[(df['datetime-year']==years) & (df[elements]>0)].min())  # 최소값
            print(df[elements].loc[(df['datetime-year']==years) & (df[elements]>0)].max())  # 최대값
        print()

In [13]:
s1p = pd.read_csv('excel/서면1p.csv', encoding = 'cp949')
s1p = s1p.loc[s1p['datetime-year']>=2015]

## 결측율

In [14]:
print(((((s1p['CO']==0)).sum())+(s1p['CO'].isnull().sum())) / 43824)
print(((((s1p['CO2']==0)).sum())+(s1p['CO2'].isnull().sum())) / 43824)
print(((((s1p['NO2']==0)).sum())+(s1p['NO2'].isnull().sum())) / 43824)
print(((((s1p['PM10']==0)).sum())+(s1p['PM10'].isnull().sum())) / 43824)
print(((((s1p['PM2.5']==0)).sum())+(s1p['PM2.5'].isnull().sum())) / 43824)
# print(((((s1p['HCHO']==0)).sum())+(s1p['HCHO'].isnull().sum())) / 43824)

0.0251688572471705
0.017661555312157722
0.026583607155896312
0.02731380065717415
0.027176889375684556

In [15]:
s1p = s1p.drop(['Unnamed: 0'], axis = 1)
s1p

       datetime-year  month  day  hour   CO    CO2    NO2  PM2.5  PM10
0               2019      1    1     0  0.5  493.0  0.034   14.0  29.0
1               2019      1    1     1  0.5  479.0  0.030   13.0  31.0
2               2019      1    1     2  0.5  458.0  0.029   13.0  29.0
3               2019      1    1     3  0.5  457.0  0.028   18.0  25.0
4               2019      1    1     4  0.4  453.0  0.032   18.0  27.0
...              ...    ...  ...   ...  ...    ...    ...    ...   ...
43819           2015     12   31    19  0.7  617.0  0.030   59.0  83.0
43820           2015     12   31    20  0.7  635.0  0.030   42.0  59.0
43821           2015     12   31    21  0.8  590.0  0.031   45.0  71.0
43822           2015     12   31    22  0.8  585.0  0.031   64.0  80.0
43823           2015     12   31    23  0.8  546.0  0.029   57.0  67.0

[43824 rows x 9 columns]

In [11]:
s1p.isnull().sum()

datetime-year      0
month              0
day                0
hour               0
CO               465
CO2              527
NO2              773
PM2.5            787
PM10             790
dtype: int64

In [17]:
s1p['CO'].value_counts()
# 793 + 465 = 1258

0.4    11197
0.5     9747
0.3     7747
0.6     7325
0.7     4911
0.8     2942
0.2     2490
0.9     1921
1.0     1139
0.0      793
1.1      632
0.1      593
1.2      340
1.3      173
1.4       72
1.5       38
1.6       19
1.7       16
1.8       11
2.1        4
2.3        2
2.0        2
1.9        2
2.8        1
2.6        1
3.3        1
Name: CO, dtype: int64

In [18]:
s1p.loc[s1p['CO']>0]

       datetime-year  month  day  hour   CO    CO2    NO2  PM2.5  PM10
0               2019      1    1     0  0.5  493.0  0.034   14.0  29.0
1               2019      1    1     1  0.5  479.0  0.030   13.0  31.0
2               2019      1    1     2  0.5  458.0  0.029   13.0  29.0
3               2019      1    1     3  0.5  457.0  0.028   18.0  25.0
4               2019      1    1     4  0.4  453.0  0.032   18.0  27.0
...              ...    ...  ...   ...  ...    ...    ...    ...   ...
52579           2014     12   31    19  0.4  554.0  0.040   19.0  53.0
52580           2014     12   31    20  0.5  574.0  0.038   13.0  39.0
52581           2014     12   31    21  0.5  548.0  0.037   19.0  53.0
52582           2014     12   31    22  0.6  557.0  0.037   24.0  61.0
52583           2014     12   31    23  0.5  512.0  0.030   21.0  53.0

[51326 rows x 9 columns]

In [24]:
preprocessing(s1p)

0.532313241796611
0.24015022373671674
0.1
2.3
0.5079090803664811
0.18402967671350332
0.1
1.9
0.4388758507392854
0.17596129945265662
0.1
1.6
0.47774050557087877
0.17619680313724737
0.1
2.0
0.465940938042877
0.16063677356928102
0.1
1.5

530.4988436632748
73.30682503394858
390.0
929.0
549.4792995477212
90.99002627911665
380.0
1208.0
539.3300642148278
70.5100884428378
404.0
866.0
520.4824612516023
68.07367684406172
329.0
808.0
534.4468898413066
55.359587741731005
400.0
963.0

0.03763459748720285
0.014428702854064251
0.001
0.091
0.04002223284723839
0.014791978022911477
0.004
0.10800000000000001
0.0432953749124032
0.0162272150624907
0.006
0.223
0.044108006131351955
0.016473410058647088
0.002
0.179
0.034577651952853464
0.01373248784646178
0.006
0.10300000000000001

26.611633372502936
35.469739425171134
1.0
998.0
29.812572759022117
27.268794886134806
1.0
982.0
23.801641266119578
19.953640657146508
1.0
944.0
21.377838871623236
24.244788327951106
1.0
973.0
20.40419127011694
12.721451833887535
1.0
379.0

55.21075394506137
80.49590498302607
1.0
2000.0
51.28506629448709
22.09988297610556
1.0
328.0
43.5034206180703
20.62287527579594
2.0
361.0
38.50968738856532
20.448020633931144
1.0
423.0
37.79459396481417
22.17798090981397
3.0
607.0

# OP, NON-OP

In [39]:
# 파일 바꿨음 hour column => 0 -> 24로 
# because, pandas doesn't cognize and(&) grammar.

s1p = pd.read_csv('excel/서면1p_.csv', encoding = 'cp949')
s1p = s1p.loc[s1p['datetime-year']>=2015]
s1p = s1p.drop(['Unnamed: 0'], axis = 1)

# s1p = s1p.loc[(s1p['hour']>=5) & (s1p['hour']== 0)]

s1p_non = s1p.loc[((s1p['hour']<5))]
s1p_non

       datetime-year  month  day  hour   CO    CO2    NO2  PM2.5  PM10
1               2019      1    1     1  0.5  479.0  0.030   13.0  31.0
2               2019      1    1     2  0.5  458.0  0.029   13.0  29.0
3               2019      1    1     3  0.5  457.0  0.028   18.0  25.0
4               2019      1    1     4  0.4  453.0  0.032   18.0  27.0
25              2019      1    2     1  0.4  442.0  0.017   17.0  44.0
...              ...    ...  ...   ...  ...    ...    ...    ...   ...
43780           2015     12   30     4  0.6  440.0  0.026   32.0  61.0
43801           2015     12   31     1  1.3  521.0  0.036   37.0  49.0
43802           2015     12   31     2  1.4  531.0  0.034   38.0  51.0
43803           2015     12   31     3  1.2  520.0  0.032   42.0  54.0
43804           2015     12   31     4  1.0  481.0  0.029   37.0  46.0

[7304 rows x 9 columns]

In [36]:
s1p_op = s1p.loc[((s1p['hour']>=5))]
s1p_op

       datetime-year  month  day  hour   CO    CO2    NO2  PM2.5  PM10
0               2019      1    1    24  0.5  493.0  0.034   14.0  29.0
5               2019      1    1     5  0.4  462.0  0.026   18.0  28.0
6               2019      1    1     6  0.4  470.0  0.027   15.0  31.0
7               2019      1    1     7  0.4  463.0  0.031   16.0  34.0
8               2019      1    1     8  0.4  468.0  0.035   13.0  26.0
...              ...    ...  ...   ...  ...    ...    ...    ...   ...
43819           2015     12   31    19  0.7  617.0  0.030   59.0  83.0
43820           2015     12   31    20  0.7  635.0  0.030   42.0  59.0
43821           2015     12   31    21  0.8  590.0  0.031   45.0  71.0
43822           2015     12   31    22  0.8  585.0  0.031   64.0  80.0
43823           2015     12   31    23  0.8  546.0  0.029   57.0  67.0

[36520 rows x 9 columns]

# 위에서 쓴 전처리 함수 수정하여 재사용

In [40]:
def preprocessing(df,df2):
    df = df.apply(pd.to_numeric, errors = 'coerce')
    df2 = df2.apply(pd.to_numeric, errors = 'coerce')
    
    for elements in ['CO','CO2',"NO2",'PM10','PM2.5']:
        for years in [2015, 2016, 2017,2018,2019]:
            print(df[elements].loc[(df['datetime-year']==years) & (df[elements]>0)].mean()) # 평균
            print(df[elements].loc[(df['datetime-year']==years) & (df[elements]>0)].std())  # 표준편차
            print(df2[elements].loc[(df2['datetime-year']==years) & (df2[elements]>0)].mean()) # 평균
            print(df2[elements].loc[(df2['datetime-year']==years) & (df2[elements]>0)].std())  # 표준편차
        print()
preprocessing(s1p_non,s1p_op)

0.4832289491997208
0.22772004521831077
0.5421685063574209
0.24138410532301294
0.4505175983436839
0.16263989261360884
0.5195009757457645
0.18592679651998012
0.39639830508474394
0.16290566403663573
0.44734027582326635
0.1772472008011505
0.45010799136069013
0.18230924222102604
0.4832566829548818
0.17444109957426399
0.43735354927635905
0.16174786174405223
0.47171492204902166
0.15980309135014134

440.22038567493115
24.89655339964287
548.7151195108394
66.00554654289512
442.7265840220386
24.362477134182036
571.0948263840469
84.02713209790967
452.80404463040446
24.081652456283457
556.7299116533445
63.61197216549091
443.91748251748254
30.000982756670414
535.793315620193
63.04006997494275
497.39807162534436
47.959593567526554
541.9381701712854
53.72068034634423

0.02532617728531863
0.011131525486940208
0.04011968680089463
0.013727870144216382
0.028114427860696452
0.011158262033284284
0.042429803132633656
0.014262473342687142
0.029802512212142303
0.015071225473059674
0.046007574694907696
0.015055581604614746
0.03190607344632768
0.012393903316238575
0.046553573956121454
0.016098903212158115
0.02688736263736261
0.012167488861901048
0.0361332314531808
0.013506194478544169

62.78616352201258
189.85759581733083
53.68907916900618
23.04295992915608
38.78487161693268
20.09918651962977
53.80187229286014
21.62549997454727
32.20198440822112
22.17338885611075
45.75986981746144
19.532664402006514
30.90175953079179
25.755877970278938
39.98184139594269
18.904614786598135
28.993657505285412
27.39437907451771
39.53782802903406
20.55133128172894

29.392045454545453
81.72797804799258
26.06040551957195
13.4999469871857
24.464583333333334
14.648966259567276
30.88965034965035
29.038761613681306
19.077574047954865
12.949809928080532
24.74353205849269
20.94726287687076
19.54365370506236
29.775224410513577
21.734827930886762
22.99997694902036
18.017931034482757
16.68465972420653
20.885626826213997
11.703724868321736